url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}


body {
    background-image: url(https://www.miaoli-shop.com.tw/images/main_bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    padding: 0px;
    margin: 0px;
}


/*導覽列*/


.navtop a.active {
  background-color: #04AA6D;
  color: white;
}

.navtop .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navtop a:not(:first-child) {display: none;}
  .navtop a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navtop.responsive {position: relative;}
  .navtop.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navtop.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


header.navtop {
    background-image: url(../LONEL_NEW/image/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    width:100% ;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 120px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}

.outerWrap {
    position: relative;
    overflow: hidden;
}

header .wrap {
    padding: 0 50px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: relative;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 120px;

}

.wrap {
    width: 100%;
    margin: 0 auto;

}

.logoImg {
    width: 130px;
}

.rightBox {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% -200px);
    padding: 0 100px 0 100px;
}

.left {
    width: calc();
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: flex-end;
}

ul{
    list-style: none;
}

li {
    position: relative;
    display:inline-block ;
}

.menu li a {
    padding: 45px 10px;
    color: #222;
    display: block;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 26px;
    position: relative;
    font-family: Noto Sans TC;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li a:hover {
    color:#135B2E;
}


  /*中間文字*/
  .indexSlogan {
    margin: 35px auto;
    padding: 0 25px;
    max-width: 600px;
    text-align: center;
  }

  .title {
    font-family: "STXihei", "微軟正黑體", "黑體", sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #135B2E;
    display: inline-block;
    opacity: 0; /* 初始时设置透明度为 0 */
    animation: fadeIn 1.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  .content {
    font-family: "STXihei", "微軟正黑體", "黑體", sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 2;
    color: #333;
  }


    /********************************側面選單 only****************************/

    .List-item-title {
      color: #222;
      display: block;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 26px;
      position: relative;
      font-family: Noto Sans TC;
      padding-top: 10px;
      list-style-type: circle;
  }
  


    .block-inner, #Content .container.js-container {
      width: 1400px;
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 20px;
      border-bottom:#272727
    }
    .block-inner {
      width: 1400px;
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 20px;
    }

    .pd-box {
      padding: 15px 20px;
    }

    /*@media (min-width: 992px)*/
    .left-c-box {
      width: 20%;
      float: left;
    }

    .ProductList-categoryMenu {
      text-decoration: none;
    }

    .Labeltitle ul {
      margin: 0;
      list-style-position: outside;
      
    }
    .ProductList-categoryMenu .List-item {
      display: block;
      margin: 0;
      line-height: 24px;
      list-style: none;
      font-weight: normal;
      text-decoration: none;
      position: relative;
      padding: 8px;
      padding-left: 25px;
      cursor: pointer;
      font-family:"Noto Serif TC",Noto Sans TC,sans-serif;
    }

    a {
      text-decoration: none;
    }

    a:hover   {
      color:#135B2E;
    }


    .List-item {
      font-size: 18px;
      margin-left: 0 auto;
    }

    .Label {
      color: #6c757d;
    }

    .Labeltitle {
      color: #222;
    }

    /**********************右邊商品**************************/
    .ProductList-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 0;
    }

    .col-xs-12 {
      width: 100%;
    }
    
    .ProductList-list .product-item, .ProductList-list .Product-item {
      padding: 5px 5px 15px;
    }

    .ProductList-list .product-item {
      width: 33.3%;
      position: relative;
      margin-bottom: 15px;
    }

    .product-item {
      text-align: center;
    }

    .right-c-box {
      width: 78%;
      float: right;
      padding-bottom: 150px;
    }

    .ProductList-select {
      flex-basis : 100% ;
    }

    .rowPoduct {
      margin-left :15px;
      margin-right: 15px;
    }

/***********************************卡片*******************************/

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  /*padding: 1rem; bug*/
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color:#135B2E;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(15, 86, 47, 0.2);
  background: transparent;
  font-family:"Noto Serif TC",Noto Sans TC,sans-serif ;
}

.btn:hover {
  background-color: #135B2E;
  color: #f6f6f6;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: #ffffff;
}

.card_title {
  color:#135B2E;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family:Noto Sans, Mitr, Athiti, Noto Sans TC, Noto Sans SC, system-ui, -apple-system, Segoe UI, sans-serif ;
}

.card_text {
  color: #6c757d;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.cardh1 {
  font-family:"STXihei", "微軟正黑體", "黑體", sans-serif;
  padding: 15px 25px;
  color:#135B2E;
  font-size: 20px;
  font-weight: bold;
}

.card_image {

  overflow: hidden;
}

.card_image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.card_image img:hover {
  transform: scale(1.2);
}

/*********************************************** 線條************************************* */

.footerline {
  position: relative;
  width: 85%;
  height: 0.5px; /* 線的高度 */
  background-color: #909090; /* 線的顏色 */
  margin: 20px auto;
}




/*FOOTER*/

.footer {

  width: 100%;
  background-color: #135B2E;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-3 {
  padding: 30px;
  white-space: pre-line;
  text-align: left;
  font-family: 'Noto Sans TC';
}

